//****************************************************************************
//  Reference: http://www.autohotkey.com/docs/misc/Styles.htm
//****************************************************************************
//  Interesting notes about this file:
//
//  > SS_NOTIFY and "Static" controls  (LTEXT and CTEXT)
//    If SS_NOTIFY is not specified in the control styles,
//    you cannot attach tooltips to the control.
//
//*********************************************************************************************************
// DS_3DLOOK
//     Gives the dialog box a non-bold font and draws three-dimensional borders 
//     around control windows in the dialog box.
//     The DS_3DLOOK style is required only by Microsoft Win32®-based applications compiled 
//     for system versions earlier than Windows 95 or Windows NT® 4.0. 
//     The system automatically applies the three-dimensional look to dialog boxes created by 
//     applications compiled for current versions of the system.
//*********************************************************************************************************
// What's the deal with the DS_SHELLFONT flag?
// 
// It indicates that you want the Windows 2000 default shell font. 
// But that doesn't mean that you're going to get it.
// 
// In order to indicate that you would like the "Windows 2000" look for your 
// dialog, you have to do three things and hope for a fourth:
// 
// > Use a DIALOGEX template instead of a DIALOG template.
// > Set the DS_SHELLFONT flag in your dialog styles.
// > Set the dialog font to "MS Shell Dlg".
// > Hope that you're running on Windows 2000 or later on a system that has the
//   new Windows 2000 dialog font enabled. 
// 
// If all four conditions are satisfied, then your dialog gets the "Windows 2000"
// look. If any condition fails, then you get the "classic" dialog font. 
//*********************************************************************************************************
// 04/26/13 12:45  On Win7, WS_DLGFRAME and WS_CAPTION seem to create identical dialogs !
// > WS_DLGFRAME  Creates a window with a double border but no title.
// > WS_BORDER    Creates a window that has a border.
// > WS_CAPTION   Creates a window that has a title bar (implies the WS_BORDER style). 
//                Cannot be used with the WS_DLGFRAME style.
// > WS_SYSMENU   Among other things, adds the CLOSE button on title bar
//                WS_SYSMENU also needed in order to show program icon on title bar
//*********************************************************************************************************
//  WS_THICKFRAME   Creates a window with a thick frame that can be used to size the window.
//  04/26/13 - initially, one of these other flags was over-riding WS_THICKFRAME
//*********************************************************************************************************
#include <windows.h>

#include "version.h"
#include "resource.h"

//lint -e2  Unclosed Quote

IDI_ICON ICON "Link04.ico"

//*******************************************************************
//  keyboard accelerators
//*******************************************************************
IDR_ACCELERATOR1 ACCELERATORS 
BEGIN
    // VK_F1,          IDC_BTN_F1,              VIRTKEY, NOINVERT
    // VK_LEFT,        IDC_VK_LEFT,             VIRTKEY, NOINVERT
    // VK_UP,          IDC_VK_UP,               VIRTKEY, NOINVERT
    // VK_RIGHT,       IDC_VK_RIGHT,            VIRTKEY, NOINVERT
    // VK_DOWN,        IDC_VK_DOWN,             VIRTKEY, NOINVERT
    // "h",     IDB_CLOSE_ALT,     ASCII, ALT, NOINVERT
    "0",       IDB_KBD_0  ,       ASCII, NOINVERT
    "1",       IDB_KBD_1  ,       ASCII, NOINVERT
    "2",       IDB_KBD_2  ,       ASCII, NOINVERT
    "3",       IDB_KBD_3  ,       ASCII, NOINVERT
    "4",       IDB_KBD_4  ,       ASCII, NOINVERT
    "5",       IDB_KBD_5  ,       ASCII, NOINVERT
    "6",       IDB_KBD_6  ,       ASCII, NOINVERT
    "7",       IDB_KBD_7  ,       ASCII, NOINVERT
    "8",       IDB_KBD_8  ,       ASCII, NOINVERT
    "9",       IDB_KBD_9  ,       ASCII, NOINVERT
    ".",       IDB_KBD_DOT,       ASCII, NOINVERT
    "e",       IDB_KBD_e  ,       ASCII, NOINVERT
    "s",       IDB_KBD_s  ,       ASCII, NOINVERT
    "+",       IDB_KBD_add,       ASCII, NOINVERT
    "-",       IDB_KBD_subtract,  ASCII, NOINVERT
    "*",       IDB_KBD_mult,      ASCII, NOINVERT
    "/",       IDB_KBD_divide,    ASCII, NOINVERT
    VK_BACK,   IDB_KBD_BKSPC,     VIRTKEY, NOINVERT
    VK_RETURN, IDB_KBD_RETURN,    VIRTKEY, NOINVERT
    VK_ESCAPE, IDB_KBD_ESCAPE,    VIRTKEY, NOINVERT
    VK_UP,     IDB_KBD_UP,        VIRTKEY, NOINVERT
    VK_DOWN,   IDB_KBD_DOWN,      VIRTKEY, NOINVERT
    VK_F1,     IDB_HELP,          VIRTKEY, NOINVERT
    VK_F2,     IDB_OPTIONS,       VIRTKEY, NOINVERT
    "^q",      IDB_CLOSE,         ASCII, NOINVERT
END

//*******************************************************************
#define  PI_X     12
#define  PI_Y     25
#define  PI_FX    (PI_X + 5)

#define  Y_OFS    1

#define  REGS_GRP_DX  600
#define  DLG_DX      (REGS_GRP_DX+30)
#define  REGS_DX     (REGS_GRP_DX - PI_FX - 8 - 20 - 30)
#define  REG_BTN_DX  22

#define  ST_Y     (PI_Y + 170)

#define  Y_OFS2   22
#define  Y_OFS3   40

#define  X_GAP          5

IDD_MAIN_DIALOG DIALOG DISCARDABLE  160, 40, DLG_DX, 420
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX

CAPTION "WBigCalc for Windows"
FONT 10, "Times New Roman"
BEGIN
   CTEXT           " ",              IDC_TITLE,     150,  5, REGS_GRP_DX-300,  12, SS_SUNKEN
                                    
   GROUPBOX        " Registers ",    IDC_REGS,     PI_X,                  PI_Y,          REGS_GRP_DX, 160 
   LTEXT           "R0",             IDS_R0,       PI_FX,                 PI_Y+Y_OFS+10,          12,  10
   LTEXT           " ",              IDC_R0,       PI_FX+15,              PI_Y+10,           REGS_DX,  10, SS_SUNKEN
   DEFPUSHBUTTON   "Clear",          IDB_CLEAR_R0, PI_FX+15+REGS_DX+3+24, PI_Y+10,             REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R0,  PI_FX+15+REGS_DX+3,    PI_Y+10,             REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R0,  PI_FX+15+REGS_DX+3,    PI_Y+10,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R0,  PI_FX+15+REGS_DX+3,    PI_Y+10,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R0, PI_FX+15+REGS_DX+3,    PI_Y+10,             REG_BTN_DX,  10, NOT WS_VISIBLE
                                    
   LTEXT           "R1",             IDS_R1,       PI_FX,                 PI_Y+Y_OFS+25,          12,  10
   LTEXT           " ",              IDC_R1,       PI_FX+15,              PI_Y+25,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R1, PI_FX+15+REGS_DX+3+24, PI_Y+25,             REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R1,  PI_FX+15+REGS_DX+3,    PI_Y+25,             REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R1,  PI_FX+15+REGS_DX+3,    PI_Y+25,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R1,  PI_FX+15+REGS_DX+3,    PI_Y+25,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R1, PI_FX+15+REGS_DX+3,    PI_Y+25,             REG_BTN_DX,  10, NOT WS_VISIBLE
                                    
   LTEXT           "R2",             IDS_R2,       PI_FX,                 PI_Y+Y_OFS+40,          12,  10
   LTEXT           " ",              IDC_R2,       PI_FX+15,              PI_Y+40,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R2, PI_FX+15+REGS_DX+3+24, PI_Y+40,             REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R2,  PI_FX+15+REGS_DX+3,    PI_Y+40,             REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R2,  PI_FX+15+REGS_DX+3,    PI_Y+40,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R2,  PI_FX+15+REGS_DX+3,    PI_Y+40,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R2, PI_FX+15+REGS_DX+3,    PI_Y+40,             REG_BTN_DX,  10, NOT WS_VISIBLE
                                    
   LTEXT           "R3",             IDS_R3,       PI_FX,                 PI_Y+Y_OFS+55,          12,  10
   LTEXT           " ",              IDC_R3,       PI_FX+15,              PI_Y+55,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R3, PI_FX+15+REGS_DX+3+24, PI_Y+55,             REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R3,  PI_FX+15+REGS_DX+3,    PI_Y+55,             REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R3,  PI_FX+15+REGS_DX+3,    PI_Y+55,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R3,  PI_FX+15+REGS_DX+3,    PI_Y+55,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R3, PI_FX+15+REGS_DX+3,    PI_Y+55,             REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   LTEXT           "R4",             IDS_R4,       PI_FX,                 PI_Y+Y_OFS+70,          12,  10
   LTEXT           " ",              IDC_R4,       PI_FX+15,              PI_Y+70,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R4, PI_FX+15+REGS_DX+3+24, PI_Y+70,             REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R4,  PI_FX+15+REGS_DX+3,    PI_Y+70,             REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R4,  PI_FX+15+REGS_DX+3,    PI_Y+70,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R4,  PI_FX+15+REGS_DX+3,    PI_Y+70,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R4, PI_FX+15+REGS_DX+3,    PI_Y+70,             REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   LTEXT           "R5",             IDS_R5,       PI_FX,                 PI_Y+Y_OFS+85,          12,  10
   LTEXT           " ",              IDC_R5,       PI_FX+15,              PI_Y+85,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R5, PI_FX+15+REGS_DX+3+24, PI_Y+85,             REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R5,  PI_FX+15+REGS_DX+3,    PI_Y+85,             REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R5,  PI_FX+15+REGS_DX+3,    PI_Y+85,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R5,  PI_FX+15+REGS_DX+3,    PI_Y+85,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R5, PI_FX+15+REGS_DX+3,    PI_Y+85,             REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   LTEXT           "R6",             IDS_R6,       PI_FX,                 PI_Y+Y_OFS+100,         12,  10
   LTEXT           " ",              IDC_R6,       PI_FX+15,              PI_Y+100,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R6, PI_FX+15+REGS_DX+3+24, PI_Y+100,            REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R6,  PI_FX+15+REGS_DX+3,    PI_Y+100,            REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R6,  PI_FX+15+REGS_DX+3,    PI_Y+100,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R6,  PI_FX+15+REGS_DX+3,    PI_Y+100,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R6, PI_FX+15+REGS_DX+3,    PI_Y+100,            REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   LTEXT           "R7",             IDS_R7,       PI_FX,                 PI_Y+Y_OFS+115,         12,  10
   LTEXT           " ",              IDC_R7,       PI_FX+15,              PI_Y+115,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R7, PI_FX+15+REGS_DX+3+24, PI_Y+115,            REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R7,  PI_FX+15+REGS_DX+3,    PI_Y+115,            REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R7,  PI_FX+15+REGS_DX+3,    PI_Y+115,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R7,  PI_FX+15+REGS_DX+3,    PI_Y+115,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R7, PI_FX+15+REGS_DX+3,    PI_Y+115,            REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   LTEXT           "R8",             IDS_R8,       PI_FX,                 PI_Y+Y_OFS+130,         12,  10
   LTEXT           " ",              IDC_R8,       PI_FX+15,              PI_Y+130,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R8, PI_FX+15+REGS_DX+3+24, PI_Y+130,            REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R8,  PI_FX+15+REGS_DX+3,    PI_Y+130,            REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R8,  PI_FX+15+REGS_DX+3,    PI_Y+130,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R8,  PI_FX+15+REGS_DX+3,    PI_Y+130,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R8, PI_FX+15+REGS_DX+3,    PI_Y+130,            REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   LTEXT           "R9",             IDS_R9,       PI_FX,                 PI_Y+Y_OFS+145,         12,  10
   LTEXT           " ",              IDC_R9,       PI_FX+15,              PI_Y+145,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "Clear",          IDB_CLEAR_R9, PI_FX+15+REGS_DX+3+24, PI_Y+145,            REG_BTN_DX,  10
   PUSHBUTTON      "View",           IDB_VIEW_R9,  PI_FX+15+REGS_DX+3,    PI_Y+145,            REG_BTN_DX,  10
   PUSHBUTTON      "Xchg",           IDB_XCHG_R9,  PI_FX+15+REGS_DX+3,    PI_Y+145,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Store",          IDB_STOR_R9,  PI_FX+15+REGS_DX+3,    PI_Y+145,            REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Recall",         IDB_RCALL_R9, PI_FX+15+REGS_DX+3,    PI_Y+145,            REG_BTN_DX,  10, NOT WS_VISIBLE
                                                                          
   GROUPBOX        " Stack ",        IDC_REGS,     PI_X,                  ST_Y,               REGS_GRP_DX, 74 
   LTEXT           "T",              IDS_REG_T,    PI_FX,                 ST_Y+Y_OFS+10,               12,  10
   LTEXT           " ",              IDC_REG_T,    PI_FX+15,              ST_Y+10,                REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",           IDB_VIEW_T,   PI_FX+15+REGS_DX+3,    ST_Y+10,             REG_BTN_DX,  10
   PUSHBUTTON      "Clear",          IDB_CLEAR_T,  PI_FX+15+REGS_DX+3+24, ST_Y+10,             REG_BTN_DX,  10
                                                                          
   LTEXT           "Z",              IDS_REG_Z,    PI_FX,                 ST_Y+Y_OFS+25,               12,  10
   LTEXT           " ",              IDC_REG_Z,    PI_FX+15,              ST_Y+25,                REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",           IDB_VIEW_Z,   PI_FX+15+REGS_DX+3,    ST_Y+25,             REG_BTN_DX,  10
   PUSHBUTTON      "Clear",          IDB_CLEAR_Z,  PI_FX+15+REGS_DX+3+24, ST_Y+25,             REG_BTN_DX,  10
                                                                          
   LTEXT           "Y",              IDS_REG_Y,    PI_FX,                 ST_Y+Y_OFS+40,               12,  10
   LTEXT           " ",              IDC_REG_Y,    PI_FX+15,              ST_Y+40,                REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",           IDB_VIEW_Y,   PI_FX+15+REGS_DX+3,    ST_Y+40,             REG_BTN_DX,  10
   PUSHBUTTON      "Clear",          IDB_CLEAR_Y,  PI_FX+15+REGS_DX+3+24, ST_Y+40,             REG_BTN_DX,  10
                                                                          
   LTEXT           "X",              IDS_REG_X,    PI_FX,                 ST_Y+Y_OFS+55,               12,  10
   EDITTEXT                          IDC_REG_X,    PI_FX+15,              ST_Y+55,                REGS_DX,  10, ES_READONLY | SS_SUNKEN
   EDITTEXT                          IDC_PASTE_X,  PI_FX+15,              ST_Y+55,                REGS_DX,  10, SS_SUNKEN | NOT WS_VISIBLE
   PUSHBUTTON      "View",           IDB_VIEW_X,   PI_FX+15+REGS_DX+3,    ST_Y+55,             REG_BTN_DX,  10
   PUSHBUTTON      "Paste",          IDC_DO_PASTE, PI_FX+15+REGS_DX+3,    ST_Y+55,             REG_BTN_DX,  10, NOT WS_VISIBLE
   PUSHBUTTON      "Clear",          IDB_CLEAR_X,  PI_FX+15+REGS_DX+3+24, ST_Y+55,             REG_BTN_DX,  10
                    
   //  text fields
   
   LTEXT           "MSG:",          IDS_MSG,       PI_X,                  ST_Y+Y_OFS+84,           Y_OFS2,  10
   LTEXT           " ",             IDC_MSG,       PI_X+Y_OFS2,           ST_Y+84,      (REGS_GRP_DX/2) - Y_OFS2,  10, SS_SUNKEN
                                                        
#define  X_KBDST  (PI_X+Y_OFS2+(REGS_GRP_DX/2) - Y_OFS2+8)
   LTEXT           "Kbd State:",     IDS_KSTATE,   X_KBDST,               ST_Y+Y_OFS+84,               36,  10
   LTEXT           " ",              IDC_KSTATE,   X_KBDST+Y_OFS3-3,      ST_Y+84,                     70,  10, SS_SUNKEN
   
   LTEXT           "Keyboard Keys:", IDS_KEYS,     PI_X,                  ST_Y+Y_OFS+99,               52,  10
   LTEXT           " 0-9.E Enter, UP/DOWN=Roll Stack, F1=Help, F2=Options ", 
                                     IDC_KEYS,     PI_X+54,               ST_Y+99,         REGS_GRP_DX-55,  10, SS_SUNKEN
   
#define  BTN_ARRAY_OFS  (ST_Y + 114)
                     
//  button row 1
#define  XB1      PI_X
#define  DXB      40
#define  YB1      BTN_ARRAY_OFS

#define  XB2      (XB1+DXB+X_GAP)
#define  XB3      (XB2+DXB+X_GAP)
#define  XB4      (XB3+DXB+X_GAP)
#define  XB5      (XB4+DXB+X_GAP)
#define  XB6      (XB5+DXB+X_GAP)
#define  XB7      (XB6+DXB+X_GAP)
#define  XB8      (XB7+DXB+X_GAP)
#define  XB9      (XB8+DXB+X_GAP)
#define  XB0      (XB9+DXB+X_GAP)
#define  XBA      (XB0+DXB+X_GAP)
#define  XBB      (XBA+DXB+X_GAP)
#define  XBC      (XBB+DXB+X_GAP)
   //  button array
   PUSHBUTTON      "Clear Stack",   IDB_CLRS,     XB1,  YB1, DXB,  12
   PUSHBUTTON      "Clear Regs",    IDB_CLRR,     XB2,  YB1, DXB,  12
   // PUSHBUTTON      "Float/Sci",     IDB_FLTSCI,   XB3,  YB1, DXB,  12
   // PUSHBUTTON      "Group 3/5",     IDB_GRP35,    XB4,  YB1, DXB,  12
   PUSHBUTTON      "Roll Up",       IDB_KBD_UP,   XB3,  YB1, DXB,  12
   PUSHBUTTON      "Roll Down",     IDB_KBD_DOWN, XB4,  YB1, DXB,  12
   PUSHBUTTON      "Last X",        IDB_LAST_X,   XB5,  YB1, DXB,  12
   PUSHBUTTON      "Chg Sign",      IDB_CHG_SIGN, XB6,  YB1, DXB,  12
   PUSHBUTTON      "XChg X/Y",      IDB_XCHG_X_Y, XB7,  YB1, DXB,  12
   PUSHBUTTON      "XChg X/R",      IDB_XCHG_X_R, XB8,  YB1, DXB,  12
   PUSHBUTTON      "Store X",       IDB_STORE_X,  XB9,  YB1, DXB,  12
   PUSHBUTTON      "Recall X",      IDB_RECALL_X, XB0,  YB1, DXB,  12
   PUSHBUTTON      "Paste X",       IDB_PASTE_X,  XBA,  YB1, DXB,  12
   PUSHBUTTON      "ReadXFile",     IDB_READF_X,  XBB,  YB1, DXB,  12
   PUSHBUTTON      "RunScript",     IDB_RUNSCRIPT,XBC,  YB1, DXB,  12

//  button row 2
#define  YB2      (YB1 + 16)
   //  button array
   PUSHBUTTON      "Y^X",     IDB_Y2X,     XB1,  YB2, DXB,  12
   PUSHBUTTON      "Sqrt(X)", IDB_SQRT,    XB2,  YB2, DXB,  12
   PUSHBUTTON      "X*X",     IDB_XSQRD,   XB3,  YB2, DXB,  12
   PUSHBUTTON      "1/X",     IDB_INVX,    XB4,  YB2, DXB,  12
   PUSHBUTTON      "X!",      IDB_XFACT,   XB5,  YB2, DXB,  12
   PUSHBUTTON      "INT",     IDB_INT,     XB6,  YB2, DXB,  12
   PUSHBUTTON      "FRAC",    IDB_FRAC,    XB7,  YB2, DXB,  12
   PUSHBUTTON      "Pi",      IDB_PI,      XB8,  YB2, DXB,  12
   PUSHBUTTON      "e",       IDB_ECONST,  XB9,  YB2, DXB,  12
   
   // PUSHBUTTON      "Options", IDB_OPTIONS, XBA,  YB2, DXB,  12
   // PUSHBUTTON      "Help",    IDB_HELP,    XBB,  YB2, DXB,  12
   // PUSHBUTTON      "About",   IDD_ABOUT,   XBC,  YB2, DXB,  12
   
#define XXX    20   
   PUSHBUTTON      "Options", IDB_OPTIONS, XBA+XXX,  5, DXB,  12
   PUSHBUTTON      "Help",    IDB_HELP,    XBB+XXX,  5, DXB,  12
   PUSHBUTTON      "About",   IDD_ABOUT,   XBC+XXX,  5, DXB,  12

//  button row 2
#define  YB3      (YB2 + 16)
   //  button array
   PUSHBUTTON      "Sin(X)",  IDB_SINX,   XB1,  YB3, DXB,  12
   PUSHBUTTON      "Asin(X)", IDB_ASINX,  XB2,  YB3, DXB,  12
   PUSHBUTTON      "Cos(X)",  IDB_COSX,   XB3,  YB3, DXB,  12
   PUSHBUTTON      "ACos(X)", IDB_ACOSX,  XB4,  YB3, DXB,  12
   PUSHBUTTON      "Tan(X)",  IDB_TANX,   XB5,  YB3, DXB,  12
   PUSHBUTTON      "Atan(X)", IDB_ATANX,  XB6,  YB3, DXB,  12
   PUSHBUTTON      "Log(X)",  IDB_LOGX,   XB7,  YB3, DXB,  12
   PUSHBUTTON      "10^X",    IDB_102X,   XB8,  YB3, DXB,  12
   PUSHBUTTON      "Ln(X)",   IDB_LNX,    XB9,  YB3, DXB,  12
   PUSHBUTTON      "e^X",     IDB_E2X,    XB0,  YB3, DXB,  12

//  hideable multi-line edit control for showing large registers
#define  YB4      (YB3 + 16)
   GROUPBOX   " View Stack or Register ", IDS_VIEW_DATA, PI_X,     YB4,   REGS_GRP_DX,    50
   EDITTEXT                               IDC_VIEW_DATA, PI_X+5, YB4+9, REGS_GRP_DX-9, 50-14,ES_MULTILINE | ES_READONLY | NOT WS_BORDER
   
   
END

//*******************************************************************
//  options dialog
//*******************************************************************
IDD_OPTIONS DIALOGEX 800, 300, 120, 195
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "WBigCalc Options"
FONT 10, "Times New Roman"
BEGIN
   LTEXT           "Number of digits:",   IDS_NORMPREC,   10,  11,  56, 10, SS_NOTIFY
   EDITTEXT                               IDC_NORMPREC,   69,  10,  25, 10, ES_NUMBER
                                                            
   GROUPBOX        " Group Size ",        IDG_GROUPSIZE,  10,  27, 100, 46
   RADIOBUTTON    " 3 bytes",             IDC_GS_3BYTES,  15,  36,  40, 10, WS_GROUP
   RADIOBUTTON    " 5 bytes",             IDC_GS_5BYTES,  15,  46,  40, 10
   RADIOBUTTON    " 0 bytes",             IDC_GS_0BYTES,  15,  56,  40, 10
                                                            
   GROUPBOX        " Decimal Char ",      IDG_DEC_CHAR,   10,  78, 100, 33    
   RADIOBUTTON    " *  (star char)",      IDC_DC_STAR,    15,  87,  65, 10, WS_GROUP
   RADIOBUTTON    " .  (period)",         IDC_DC_PERIOD,  15,  97,  65, 10
    
   CONTROL         "Scientific notation", IDM_SCINOT, "Button",
                   BS_AUTOCHECKBOX | WS_TABSTOP,          10, 116,  90, 10

   CONTROL         "Enable WinMsgs (debug)", IDM_WINMSGS, "Button",
                   BS_AUTOCHECKBOX | WS_TABSTOP,          10, 130, 140, 10

   DEFPUSHBUTTON  "Accept Changes", IDOK,                 25, 149,  70, 14
   PUSHBUTTON     "Cancel Changes", IDCANCEL,             25, 166,  70, 14
END

//*********************************************************************************************
IDD_ABOUT DIALOG DISCARDABLE  400, 400, 180, 110
// STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About WBigCalc"
// FONT 8, "MS Sans Serif"
FONT 10, "Times New Roman"
BEGIN
    ICON            IDI_ICON,                                   IDC_STATIC,    9, 14
    LTEXT           "WBigCalc Extended Precision Calculator",   IDC_STATIC,   36, 15,  66, 18
    LTEXT           VerNum,                                     IDC_VERNUM,  104, 15,  50, 10
    LTEXT           "Copyright (c) 2002-2024",                  IDC_STATIC,   36, 36, 100, 10
    LTEXT           "Derell Licht",                             IDC_STATIC,   36, 46, 100, 10
    LTEXT           "http://derelllicht.42web.io/wbigcalc.html", IDC_WEBLINK,  36, 56, 140, 10
    LTEXT           "https://github.com/DerellLicht/WBigCalc",  IDC_WEBLINK2, 36, 66, 140, 10
    DEFPUSHBUTTON   "Close",                                    IDOK,         36, 84, 100, 14
END

//*********************************************************************************************
// Executable Version info
//*********************************************************************************************

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "WBigCalc - Extended Precision Calculator"
            VALUE "CompanyName", "Cathartes Aura"
            VALUE "FileDescription", "WBigCalc Extended Precision Calculator"
            // VALUE "FileVersion", VerNum      //  not displayed using my data
            VALUE "InternalName", "WBigCalc"
            VALUE "LegalCopyright", "Copyright © 2002-2024"
            VALUE "OriginalFilename", "wbigcalc.exe"
            VALUE "ProductName", "WBigCalc Extended Precision Calculator"
            VALUE "ProductVersion", VerNum
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


