#include <windows.h>

#include "resource.h"

//lint -e2  Unclosed Quote

IDI_ICON ICON "Link04.ico"

//*******************************************************************
//  keyboard accelerators
//*******************************************************************
IDR_ACCELERATOR1 ACCELERATORS 
BEGIN
    // VK_F1,          IDC_BTN_F1,              VIRTKEY, NOINVERT
    // VK_LEFT,        IDC_VK_LEFT,             VIRTKEY, NOINVERT
    // VK_UP,          IDC_VK_UP,               VIRTKEY, NOINVERT
    // VK_RIGHT,       IDC_VK_RIGHT,            VIRTKEY, NOINVERT
    // VK_DOWN,        IDC_VK_DOWN,             VIRTKEY, NOINVERT
    // "h",     IDB_CLOSE_ALT,     ASCII, ALT, NOINVERT
    "0",       IDB_KBD_0  ,       ASCII, NOINVERT
    "1",       IDB_KBD_1  ,       ASCII, NOINVERT
    "2",       IDB_KBD_2  ,       ASCII, NOINVERT
    "3",       IDB_KBD_3  ,       ASCII, NOINVERT
    "4",       IDB_KBD_4  ,       ASCII, NOINVERT
    "5",       IDB_KBD_5  ,       ASCII, NOINVERT
    "6",       IDB_KBD_6  ,       ASCII, NOINVERT
    "7",       IDB_KBD_7  ,       ASCII, NOINVERT
    "8",       IDB_KBD_8  ,       ASCII, NOINVERT
    "9",       IDB_KBD_9  ,       ASCII, NOINVERT
    ".",       IDB_KBD_DOT,       ASCII, NOINVERT
    "e",       IDB_KBD_e  ,       ASCII, NOINVERT
    "s",       IDB_KBD_s  ,       ASCII, NOINVERT
    "+",       IDB_KBD_add,       ASCII, NOINVERT
    "-",       IDB_KBD_subtract,  ASCII, NOINVERT
    "*",       IDB_KBD_mult,      ASCII, NOINVERT
    "/",       IDB_KBD_divide,    ASCII, NOINVERT
    VK_BACK,   IDB_KBD_BKSPC,     VIRTKEY, NOINVERT
    VK_RETURN, IDB_KBD_RETURN,    VIRTKEY, NOINVERT
    VK_ESCAPE, IDB_KBD_ESCAPE,    VIRTKEY, NOINVERT
    VK_UP,     IDB_KBD_UP,        VIRTKEY, NOINVERT
    VK_DOWN,   IDB_KBD_DOWN,      VIRTKEY, NOINVERT
    "^q",      IDB_CLOSE,         ASCII, NOINVERT
END

//*******************************************************************
#define  PI_X     12
#define  PI_Y     25
#define  PI_FX    (PI_X + 5)

#define  Y_OFS    1

#define  REGS_GRP_DX  600
#define  DLG_DX      (REGS_GRP_DX+30)
#define  REGS_DX     (REGS_GRP_DX - PI_FX - 8 - 20 - 21)

#define  ST_Y     (PI_Y + 170)

#define  Y_OFS2   22
#define  Y_OFS3   40

#define  X_GAP          5

IDD_MAIN_DIALOG DIALOG DISCARDABLE  160, 40, DLG_DX, 500
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "BigCalc for Windows"
FONT 10, "Times New Roman"
BEGIN
   CTEXT           " ",             IDC_TITLE,     150,  5, REGS_GRP_DX-300,  12, SS_SUNKEN
   
   GROUPBOX        " Registers ",   IDC_REGS,     PI_X,                  PI_Y,          REGS_GRP_DX, 160 
   LTEXT           "R0",            IDS_R0,       PI_FX,                 PI_Y+Y_OFS+10,          12,  10
   LTEXT           " ",             IDC_R0,       PI_FX+15,              PI_Y+10,           REGS_DX,  10, SS_SUNKEN
   DEFPUSHBUTTON   "Clear",         IDB_CLEAR_R0, PI_FX+15+REGS_DX+3+21, PI_Y+10,                20,  10
   PUSHBUTTON      "View",          IDB_VIEW_R0,  PI_FX+15+REGS_DX+3,    PI_Y+10,                19,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R0,  PI_FX+15+REGS_DX+3,    PI_Y+10,                19,  10, NOT WS_VISIBLE
   
   LTEXT           "R1",            IDS_R1,       PI_FX,                 PI_Y+Y_OFS+25,          12,  10
   LTEXT           " ",             IDC_R1,       PI_FX+15,              PI_Y+25,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R1,  PI_FX+15+REGS_DX+3,    PI_Y+25,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R1, PI_FX+15+REGS_DX+3+21, PI_Y+25,                20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R1,  PI_FX+15+REGS_DX+3,    PI_Y+25,                19,  10, NOT WS_VISIBLE
   
   LTEXT           "R2",            IDS_R2,       PI_FX,                 PI_Y+Y_OFS+40,          12,  10
   LTEXT           " ",             IDC_R2,       PI_FX+15,              PI_Y+40,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R2,  PI_FX+15+REGS_DX+3,    PI_Y+40,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R2, PI_FX+15+REGS_DX+3+21, PI_Y+40,                20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R2,  PI_FX+15+REGS_DX+3,    PI_Y+40,                19,  10, NOT WS_VISIBLE
   
   LTEXT           "R3",            IDS_R3,       PI_FX,                 PI_Y+Y_OFS+55,          12,  10
   LTEXT           " ",             IDC_R3,       PI_FX+15,              PI_Y+55,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R3,  PI_FX+15+REGS_DX+3,    PI_Y+55,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R3, PI_FX+15+REGS_DX+3+21, PI_Y+55,                20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R3,  PI_FX+15+REGS_DX+3,    PI_Y+55,                19,  10, NOT WS_VISIBLE
                                                                         
   LTEXT           "R4",            IDS_R4,       PI_FX,                 PI_Y+Y_OFS+70,          12,  10
   LTEXT           " ",             IDC_R4,       PI_FX+15,              PI_Y+70,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R4,  PI_FX+15+REGS_DX+3,    PI_Y+70,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R4, PI_FX+15+REGS_DX+3+21, PI_Y+70,                20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R4,  PI_FX+15+REGS_DX+3,    PI_Y+70,                19,  10, NOT WS_VISIBLE
                                                                         
   LTEXT           "R5",            IDS_R5,       PI_FX,                 PI_Y+Y_OFS+85,          12,  10
   LTEXT           " ",             IDC_R5,       PI_FX+15,              PI_Y+85,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R5,  PI_FX+15+REGS_DX+3,    PI_Y+85,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R5, PI_FX+15+REGS_DX+3+21, PI_Y+85,                20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R5,  PI_FX+15+REGS_DX+3,    PI_Y+85,                19,  10, NOT WS_VISIBLE
                                                                         
   LTEXT           "R6",            IDS_R6,       PI_FX,                 PI_Y+Y_OFS+100,         12,  10
   LTEXT           " ",             IDC_R6,       PI_FX+15,              PI_Y+100,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R6,  PI_FX+15+REGS_DX+3,    PI_Y+100,               19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R6, PI_FX+15+REGS_DX+3+21, PI_Y+100,               20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R6,  PI_FX+15+REGS_DX+3,    PI_Y+100,                19,  10, NOT WS_VISIBLE
                                                                         
   LTEXT           "R7",            IDS_R7,       PI_FX,                 PI_Y+Y_OFS+115,         12,  10
   LTEXT           " ",             IDC_R7,       PI_FX+15,              PI_Y+115,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R7,  PI_FX+15+REGS_DX+3,    PI_Y+115,               19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R7, PI_FX+15+REGS_DX+3+21, PI_Y+115,               20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R7,  PI_FX+15+REGS_DX+3,    PI_Y+115,                19,  10, NOT WS_VISIBLE
                                                                         
   LTEXT           "R8",            IDS_R8,       PI_FX,                 PI_Y+Y_OFS+130,         12,  10
   LTEXT           " ",             IDC_R8,       PI_FX+15,              PI_Y+130,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R8,  PI_FX+15+REGS_DX+3,    PI_Y+130,               19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R8, PI_FX+15+REGS_DX+3+21, PI_Y+130,               20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R8,  PI_FX+15+REGS_DX+3,    PI_Y+130,                19,  10, NOT WS_VISIBLE
                                                                         
   LTEXT           "R9",            IDS_R9,       PI_FX,                 PI_Y+Y_OFS+145,         12,  10
   LTEXT           " ",             IDC_R9,       PI_FX+15,              PI_Y+145,          REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_R9,  PI_FX+15+REGS_DX+3,    PI_Y+145,               19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_R9, PI_FX+15+REGS_DX+3+21, PI_Y+145,               20,  10
   PUSHBUTTON      "Xchg",          IDB_XCHG_R9,  PI_FX+15+REGS_DX+3,    PI_Y+145,                19,  10, NOT WS_VISIBLE
                                                                         
   GROUPBOX        " Stack ",       IDC_REGS,     PI_X,                  ST_Y,          REGS_GRP_DX, 74 
   LTEXT           "T",             IDS_REG_T,    PI_FX,                 ST_Y+Y_OFS+10,          12,  10
   LTEXT           " ",             IDC_REG_T,    PI_FX+15,              ST_Y+10,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_T,   PI_FX+15+REGS_DX+3,    ST_Y+10,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_T,  PI_FX+15+REGS_DX+3+21, ST_Y+10,                20,  10
                                                                         
   LTEXT           "Z",             IDS_REG_Z,    PI_FX,                 ST_Y+Y_OFS+25,          12,  10
   LTEXT           " ",             IDC_REG_Z,    PI_FX+15,              ST_Y+25,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_Z,   PI_FX+15+REGS_DX+3,    ST_Y+25,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_Z,  PI_FX+15+REGS_DX+3+21, ST_Y+25,                20,  10
                                                                         
   LTEXT           "Y",             IDS_REG_Y,    PI_FX,                 ST_Y+Y_OFS+40,          12,  10
   LTEXT           " ",             IDC_REG_Y,    PI_FX+15,              ST_Y+40,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_Y,   PI_FX+15+REGS_DX+3,    ST_Y+40,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_Y,  PI_FX+15+REGS_DX+3+21, ST_Y+40,                20,  10
                                                                         
   LTEXT           "X",             IDS_REG_X,    PI_FX,                 ST_Y+Y_OFS+55,          12,  10
   LTEXT           " ",             IDC_REG_X,    PI_FX+15,              ST_Y+55,           REGS_DX,  10, SS_SUNKEN
   PUSHBUTTON      "View",          IDB_VIEW_X,   PI_FX+15+REGS_DX+3,    ST_Y+55,                19,  10
   PUSHBUTTON      "Clear",         IDB_CLEAR_X,  PI_FX+15+REGS_DX+3+21, ST_Y+55,                20,  10
                    
   //  text fields
   
   LTEXT           "MSG:",          IDS_MSG,      PI_X,                  ST_Y+Y_OFS+84,         Y_OFS2,  10
   LTEXT           " ",             IDC_MSG,      PI_X+Y_OFS2,           ST_Y+84,               (REGS_GRP_DX/2) - Y_OFS2,  10, SS_SUNKEN
                                                        
#define  X_KBDST  (PI_X+Y_OFS2+(REGS_GRP_DX/2) - Y_OFS2+8)
   LTEXT           "Kbd State:",    IDS_KSTATE,   X_KBDST,              ST_Y+Y_OFS+84,          36, 10
   LTEXT           " ",             IDC_KSTATE,   X_KBDST+Y_OFS3-3,       ST_Y+84,              70, 10, SS_SUNKEN
   
#define  X_KKEYS     (X_KBDST + 36 + 70 + 8)
   LTEXT           "Keyboard Keys:",  IDS_KEYS,   X_KKEYS,              ST_Y+Y_OFS+84,         52,  10
   LTEXT           " Enter UP DOWN ", IDC_KEYS,   X_KKEYS+54,           ST_Y+84,              100,  10, SS_SUNKEN
   
#define  BTN_ARRAY_OFS  (ST_Y + 100)

//  button row 1
#define  XB1      PI_X
#define  DXB      40
#define  YB1      BTN_ARRAY_OFS

#define  XB2      (XB1+DXB+X_GAP)
#define  XB3      (XB2+DXB+X_GAP)
#define  XB4      (XB3+DXB+X_GAP)
#define  XB5      (XB4+DXB+X_GAP)
#define  XB6      (XB5+DXB+X_GAP)
#define  XB7      (XB6+DXB+X_GAP)
#define  XB8      (XB7+DXB+X_GAP)
#define  XB9      (XB8+DXB+X_GAP)
#define  XB0      (XB9+DXB+X_GAP)
   //  button array
   PUSHBUTTON      "Clear Stack",   IDB_CLRS,     XB1,  YB1, DXB,  12
   PUSHBUTTON      "Clear Regs",    IDB_CLRR,     XB2,  YB1, DXB,  12
   PUSHBUTTON      "Float/Sci",     IDB_FLTSCI,   XB3,  YB1, DXB,  12
   PUSHBUTTON      "Group 3/5",     IDB_GRP35,    XB4,  YB1, DXB,  12
   PUSHBUTTON      "Roll Up",       IDB_KBD_UP,   XB5,  YB1, DXB,  12
   PUSHBUTTON      "Roll Down",     IDB_KBD_DOWN, XB6,  YB1, DXB,  12
   PUSHBUTTON      "Last X",        IDB_LAST_X,   XB7,  YB1, DXB,  12
   PUSHBUTTON      "Chg Sign",      IDB_CHG_SIGN, XB8,  YB1, DXB,  12
   PUSHBUTTON      "XChg X/Y",      IDB_XCHG_X_Y, XB9,  YB1, DXB,  12
   PUSHBUTTON      "XChg X/R",      IDB_XCHG_X_R, XB0,  YB1, DXB,  12

//  button row 2
#define  YB2      (YB1 + 16)
   //  button array
   PUSHBUTTON      "Help",    IDB_HELP,   XB1,  YB2, DXB,  12
   PUSHBUTTON      "Y^X",     IDB_Y2X,    XB2,  YB2, DXB,  12
   PUSHBUTTON      "Sqrt(X)", IDB_SQRT,   XB3,  YB2, DXB,  12
   PUSHBUTTON      "X*X",     IDB_XSQRD,  XB4,  YB2, DXB,  12
   PUSHBUTTON      "1/X",     IDB_INVX,   XB5,  YB2, DXB,  12
   PUSHBUTTON      "X!",      IDB_XFACT,  XB6,  YB2, DXB,  12
   PUSHBUTTON      "INT",     IDB_INT,    XB7,  YB2, DXB,  12
   PUSHBUTTON      "FRAC",    IDB_FRAC,   XB8,  YB2, DXB,  12
   PUSHBUTTON      "Pi",      IDB_PI,     XB9,  YB2, DXB,  12
   PUSHBUTTON      "e",       IDB_ECONST, XB0,  YB2, DXB,  12

//  button row 2
#define  YB3      (YB2 + 16)
   //  button array
   PUSHBUTTON      "Sin(X)",  IDB_SINX,   XB1,  YB3, DXB,  12
   PUSHBUTTON      "Asin(X)", IDB_ASINX,  XB2,  YB3, DXB,  12
   PUSHBUTTON      "Cos(X)",  IDB_COSX,   XB3,  YB3, DXB,  12
   PUSHBUTTON      "ACos(X)", IDB_ACOSX,  XB4,  YB3, DXB,  12
   PUSHBUTTON      "Tan(X)",  IDB_TANX,   XB5,  YB3, DXB,  12
   PUSHBUTTON      "Atan(X)", IDB_ATANX,  XB6,  YB3, DXB,  12
   PUSHBUTTON      "Log(X)",  IDB_LOGX,   XB7,  YB3, DXB,  12
   PUSHBUTTON      "10^X",    IDB_102X,   XB8,  YB3, DXB,  12
   PUSHBUTTON      "Ln(X)",   IDB_LNX,    XB9,  YB3, DXB,  12
   PUSHBUTTON      "e^X",     IDB_E2X,    XB0,  YB3, DXB,  12

//  hideable multi-line edit control for showing large registers
#define  YB4      (YB3 + 16)
   GROUPBOX   " View Stack or Register ", IDS_VIEW_DATA, PI_X, YB4, REGS_GRP_DX, 50
   EDITTEXT                               IDC_VIEW_DATA, PI_X+5, YB4+9, REGS_GRP_DX-9, 50-14,ES_MULTILINE | ES_READONLY | NOT WS_BORDER
   
   
END


